:root {
    --turquoise: #2BB8EE;
    --font-color: rgb(223, 223, 250);
    --bg-color: #051C25;
    --border-color: #084051;
    --item-bg: #07435B;
}

body {
    background-color: rgb(5,43,56);
    box-sizing: border-box;
    user-select: none;
}

h4 {
    margin-bottom: 2px;
}

h6 {
    margin-bottom: 0;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 20px clamp(1.125rem, -0.0093rem + 5.6716vw, 3.5rem);
    position: fixed;
    inset: 0;
}

.logo-icon {
    width: clamp(2.5rem, 2.4107rem + 0.4464vw, 3.125rem);
    height: clamp(2.5rem, 2.4107rem + 0.4464vw, 3.125rem);
    cursor: pointer;
    transition: filter 0.3s ease;
}

.logo-icon:hover {
    filter: brightness(120%);
}

.title {
    color: var(--font-color);
    font-size: clamp(1.25rem, 0.9821rem + 1.3393vw, 3.125rem);
    cursor: default;
}

.add-icon {
    width: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.875rem);
    height: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.875rem);
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.add-icon:hover {
    filter: brightness(120%);
    transform: scale(1.2);
}

.delete-icon, .delete-icon-images {
    filter: brightness(130%);
    width: clamp(1.5625rem, 1.4286rem + 0.6696vw, 2.5rem);
    height: clamp(1.25rem, 1.1161rem + 0.6696vw, 2.1875rem);
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.delete-icon:hover, .delete-icon-images:hover {
    filter: brightness(180%);
    transform: scale(1.2);
}

.edit-icon {
    width: clamp(1.5625rem, 1.4286rem + 0.6696vw, 2.5rem);
    height: clamp(1.25rem, 1.1161rem + 0.6696vw, 2.1875rem);
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.edit-icon:hover {
    filter: brightness(120%);
    transform: scale(1.2);
}

main {
    margin-top: 100px; 
    margin-bottom: 100px;
    height: calc(100vh - 200px);
}

.sub-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px 5px 20px 5px;
}

.sub-title {
    color: var(--font-color);
    font-size: clamp(1rem, 0.8304rem + 0.8482vw, 2.1875rem);
}

@media screen and (max-width: 419px) {
    .sub-content {
        justify-content: center;
    }
    .sub-title {
        display: none;
    }
}

.search-container {
    height: 30px;
    display: flex;
    align-items: center;
}
  
input:not(#productImage):not(.image-checkbox):not(.tag-checkbox), select {
    padding: 5px;
    border: 1px transparent;
    border-bottom: 2px solid var(--turquoise);
    background-color: transparent;
    color: var(--font-color);
}

select {
    padding: 5px 0 2px 0;
    width: 100%;
    border-bottom: none;
}

select:focus {
    outline: none;
}

input[type=text]:focus {
    outline: none;
}

.search-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    width: clamp(1.5625rem, 1.5179rem + 0.2232vw, 1.875rem);
}

.main-content {
    background-color: var(--bg-color);
    width: 90%;
    height: 90%;
    margin: auto;
    overflow-y: auto;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    padding: 0 20px 20px 20px;
    position: relative;
}

.category-item-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px 0;
    z-index: 1;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-item {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B252B;
    cursor: pointer;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.category-item:hover {
    border: 2px solid var(--turquoise);
    box-shadow: 0px 0px 8px var(--turquoise);
    transition: border 0.5s ease, box-shadow 0.5s ease; 
}

.active {
    background-color: var(--turquoise);
    box-shadow: unset;
}

.item-info {
    background-color: var(--item-bg);
    border-radius: 10px;
    cursor: default;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.item-info.open {
    max-height: 400px;
}

.item-header {
    display: flex;
    gap: 20px;
    padding: 8px 20px;
    align-items: center;
    color: var(--font-color);
    justify-content: space-between;
}

.item-title {
    flex-grow: 1;
    text-align: center;
}

table {
    width: calc(100% - 8px);
    color: var(--font-color);
    background-color: var(--item-bg);
    border-radius: 10px;
}

tbody {
    max-height: 264px;
    overflow-y: auto;
    display: block;
    width: calc(100% + 8px);
}

thead, tbody tr {
    display: table;
    width: 100%;
}

.table-separator {
    border-bottom: 1px solid var(--turquoise);
    position: relative;
}

.table-separator::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    border-bottom: 1px solid var(--turquoise);
    width: 100%;
}

.separator {
    width: 100%;
    border-bottom: 1px solid var(--turquoise);
}

th, td {
    padding-bottom: 10px;
    padding-top: 10px; 
}

th {
    cursor: pointer;
    transition: color 0.3s ease;
}

th:hover {
    color: silver;
} 

td:first-child, th:first-child {
    width: 30%;
    padding-left: 20px;
}


td:nth-child(2), th:nth-child(2),
th:nth-child(3), td:nth-child(3) {
    width: 8%;
    text-align: center;
}

td:nth-child(4), th:nth-child(4) {
    width: 35%;
    padding-left: 2%;
    word-wrap: break-word;
}

td:nth-child(5), th:nth-child(5),
td:nth-child(6), th:nth-child(6) {
    width: 8%;
    text-align: center;
    padding: 0;
    white-space: nowrap
}

td:nth-child(6) img {
    width: 40px;
    max-width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid var(--turquoise)
}

tr {
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

tr:hover {
    background-color: var(--turquoise);
    transition: background-color 0.3s ease, color 0.3s ease;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child:hover td:last-child {
    border-bottom-right-radius: 10px;
}

tr:last-child:hover td:first-child {
    border-bottom-left-radius: 10px;
}

thead tr:hover {
    background-color: transparent;
    cursor: pointer;
}

footer {
    background-color: rgb(34,151,195);
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px clamp(1.125rem, -0.0093rem + 5.6716vw, 3.5rem);
}

footer img {
    width: clamp(1.875rem, 1.7857rem + 0.4464vw, 2.5rem);
    height: clamp(1.875rem, 1.7857rem + 0.4464vw, 2.5rem);
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
}

footer img:hover {
    filter: brightness(120%);
    transform: scale(1.2);
}

.new-category-popup-bg {
    position: fixed;
    inset: 0;
    z-index: 10; 
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.new-category-container, .new-item-container, .delete-category-container, .new-tag-container, .product-detail-container, .setting-container {
    width: clamp(18.75rem, 17.8571rem + 4.4643vw, 25rem);
    background-color: rgb(7,67,91);
    border: 2px solid var(--turquoise);
    border-radius: 15px;
    padding: 20px 10px;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.new-category-container {
    height: 220px;
}

.new-item-container {
    width: clamp(18.75rem, 16.0714rem + 13.3929vw, 37.5rem);
}

.delete-category-container {
    width: 500px;
    height: 230px;
}

.confirmation-message {
    text-align: center;
    margin-top: 20px;
}

.product-detail-container {
    position: relative;
    background-color: var(--bg-color);
    width: clamp(19.375rem, 13.2143rem + 30.8036vw, 62.5rem);
    height: auto;
    gap: 20px;
    padding: 20px 0;
}

#productDetailContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 20px 30px;
}

@media screen and (max-width: 1018px) {
    #productDetailContent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 10px;
    }

    #productDetailContent .right {
        width: 90% !important;
    }
}

.icon-container-edit-product {
    position: absolute;
    right: 30px;
}

#productDetailContent .left {
    display: flex;
    justify-content: center;
    position: relative;
}

.left img:not(.remove-edit-img-upload),
#productDetailContent .left .edit-img-upload {
    width: clamp(9.375rem, 8.2143rem + 5.8036vw, 17.5rem);
    min-width: clamp(9.375rem, 8.2143rem + 5.8036vw, 17.5rem);
    height: clamp(9.375rem, 8.2143rem + 5.8036vw, 17.5rem);
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--turquoise);
}

#productDetailContent .left .edit-img-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3crect width='100' height='100' fill='none' rx='100' ry='100' stroke='%2305FBFBFF' stroke-width='3' stroke-dasharray='3 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 225ms linear;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.edit-img-upload:hover {
    background-color: #2bb7ee88;
}

#productDetailContent .left .edit-file-upload {
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#productDetailContent .right {
    width: 50%;
    display: flex;
    flex-direction: column;  
}

.product-detail-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.product:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-weight: bold;
    color: var(--turquoise)
}

#addCategoryForm, #updateCategoryForm, #addTagForm {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    height: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#addProductForm, #editProductForm {
    width: 90%;
    margin: 20px 0 0 0;
}

.form-group {
    margin-bottom: 15px;
}

.tagImage {
    display: flex;
}

.tagImage > div {
    flex: 1;
}

.selectBox {
    position: relative;
    max-width: 170px;
    min-width: 170px;
    cursor: pointer;
}

.selectBox-edit {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.current-tag {
    display: flex;
    gap: 20px;
}


.label-header {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    height: 20px;
}

.label-tags {
    font-weight: bold;
}

.upload-container {
    position: relative;
    margin: 10px auto;
    width: 90px;
    max-width: 90px;
}

.img-upload {
    box-sizing: border-box;
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 225ms linear;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2305FBFBFF' stroke-width='6' stroke-dasharray='6 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.img-upload:hover {
    background-color: #2bb7ee88;
}

.remove-img-upload {
    position: absolute;
    top: -12px;
    right: -4px;
    width: 32px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.remove-img-upload:hover, .remove-edit-img-upload:hover {
    transform: scale(1.4);
}

.remove-edit-img-upload {
    position: absolute;
    top: -12px;
    right: clamp(0.4375rem, 0.2946rem + 0.7143vw, 1.4375rem);
    width: clamp(2.1875rem, 2.0536rem + 0.6696vw, 3.125rem);
    height: clamp(2.1875rem, 2.0536rem + 0.6696vw, 3.125rem);
    cursor: pointer;
    transition: transform 0.4s ease;
}

.remove-image {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: -11px;
    right: 0px;
}

.custom-file-upload {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 12px;
    margin-top: 0;
    text-align: center;
}

.uploaded-image {
    border-radius: 50%;
    object-fit: cover;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--turquoise);
}

.uploaded-new-image {
    border-radius: 50%;
    object-fit: cover;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--turquoise);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.uploaded-new-image:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

p {
    margin-bottom: 0;
}

.arrow-down {
    border: solid var(--font-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(45deg);
}

.add-tag-container {
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-tag-container img {
    width: 18px;
    height: 18px;
}

.add-tag-container p {
    font-weight: bold;
}

#selectedOption {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 84%;
    cursor: default;
}
  
.dropdownContent {
    overflow-y: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 0.4s ease;
    scroll-padding-bottom: 5px;
    scroll-behavior: smooth;
}

.dropdownContent.expanded {
    display: block;
    width: 100%;
    max-height: 139px; 
    overflow-y: auto;
    border-radius: 6px;
    border: 1px solid var(--turquoise);
  /*   padding-bottom: 5px; */
}

.dropdownContent::-webkit-scrollbar {
    width: 5px;
}

.dropdownContent::-webkit-scrollbar-thumb {
    border-radius: 9px;
}

.option {
    padding: 2.5px 8px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 4px;
}

.selected-option {
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.option span {
    border: 1px solid transparent;
}

.option span:hover {
    border: 1px solid var(--turquoise);
}
 
label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

.input-new-item {
    width: 100%;
    padding: 0;
}

.input-new-category, .input-new-tag {
    width: 90%;
    margin: 0 auto;
}

.popup-title-new-tag {
    margin-bottom: 26px;
}

.select-colors {
    width: 90%;
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid var(--font-color);
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.2);
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
}

.btn-container-product-detail {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-container-new-tag {
    margin-top: 0;
}

button:not(.search-btn) {
    border: none;
    background-color: var(--bg-color);
    color: var(--font-color);
    border-radius: 15px;
    padding: 10px 20px;
    border: 1px solid var(--turquoise);
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover:not(.search-btn) {
    background-color: var(--turquoise);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--bg-color);
}

#addItemButton[disabled], #addCategoryButton[disabled], #addTagButton[disabled], #editCategoryButton[disabled], #editItemButton[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.setting-items {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.setting-items div {
    border-radius: 10px;
    border: 2px solid var(--turquoise);
    color: var(--font-color);
    background-color: #0B252B;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: border 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.setting-items div:hover {
    border: 2px solid var(--turquoise);
    box-shadow: 0px 0px 8px var(--turquoise);
    background-color: #174954;
    transition: border 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}

.gallery-container {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.gallery-header {
    display: flex;
    gap: 50px;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.gallery img {
    width: clamp(6.25rem, 4.4643rem + 8.9286vw, 18.75rem);
    height: clamp(6.25rem, 4.4643rem + 8.9286vw, 18.75rem);
    object-fit: cover;
    border: 2px solid var(--turquoise);
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
}

.select-enabled:hover {
    border:  3px solid var(--turquoise);
    box-shadow: 0px 0px 10px var(--turquoise);
}

.image-container {
    position: relative;
    transition: transform 0.5s ease;
}

.tags-container {
    border-radius: 5px;
    color: var(--font-color);
    width: clamp(6.25rem, 4.4643rem + 8.9286vw, 18.75rem);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.5s ease;
    border: 2px solid var(--turquoise);
}

.tags-container div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-effect:hover {
    transform: scale(1.04);
}

.image-checkbox, .tag-checkbox {
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.875rem);
    height: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.875rem);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid var(--turquoise);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-color: var(--font-color);
}

.image-checkbox:checked, .tag-checkbox:checked {
    background-color: var(--bg-color);
    background-image: url('./assets/img/check.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery-button {
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: var(--bg-color);
    border: 1px solid var(--turquoise);
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    width: 120px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.gallery-button:hover {
    background-color: var(--turquoise);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--bg-color);
}

.delete-icon-images {
    position: absolute;
    right: 0;
}

@media only screen and (max-height: 800px) {
    header, footer {
        height: 60px;
    }
    main {
        margin-top: 55px;
        height: calc(100vh - 120px);
    }
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--turquoise);
    border-radius: 15px;
}
